@model TicketsDemo.Models.RunViewModel

@{
    ViewBag.Title = "Run details";
}

<h2>Train @Model.Train.Number (@Model.Train.StartLocation - @Model.Train.EndLocation)</h2>
<h4>Run starts at @Model.Run.Date.ToShortDateString()</h4>

<h2>Available Places</h2>

@foreach (var place in Model.Run.Places)
{
    if (Model.ReservedPlaces.Contains(place.Id))
    {
        @place.Number;
    }else{
        <a href="@Url.Action("ReservePlace",new{placeId=place.Id})">@place.Number</a>
    }
}


