@model TicketsDemo.Models.RunViewModel

@{
    ViewBag.Title = "Run details";
}

<h2>Train @Model.Train.Number (@Model.Train.StartLocation - @Model.Train.EndLocation)</h2>
<h4>Run starts at @Model.RunDate.ToShortDateString()</h4>

<h2>Available Places</h2>

@foreach (var carriageNumber in Model.PlacesByCarriage.Keys)
{
    var placesInCarriage = Model.PlacesByCarriage[carriageNumber];
    <div> 
        <h4> Carriage @carriageNumber, @Model.Carriages[carriageNumber].Type</h4>
        @foreach (var place in placesInCarriage)
        {
            if (Model.ReservedPlaces.Contains(place.Id))
            {
                @place.Number;
            }
            else
            {
            <a href="@Url.Action("ReservePlace", new { placeId = place.Id })">@place.Number</a>
            }
        }
    </div>
}


