@model TicketsDemo.Models.TicketViewModel

@{
    ViewBag.Title = "Ticket details";
}

<h2>Train @Model.Train.Number (@Model.Train.StartLocation - @Model.Train.EndLocation)</h2>
<h4>Run starts at @Model.Date.ToShortDateString()</h4>

<h2>ticket is for place @Model.PlaceNumber</h2>

<h4>Price:</h4>
@foreach (var pc in Model.Ticket.PriceComponents) { 
    <span>@pc.Name:@pc.Value$</span><br />
}

<!--public string FirstName { get; set; }
        public string LastName { get; set; }
        public int ReservationId { get; set; }-->
